<li>@Html.ActionLink("Group", "Group", "MaxCrmManage", routeValues: null, htmlAttributes: new { id = "udGroupNavLink" })</li>
<li>@Html.ActionLink("Person", "Person", "MaxCrmManage", routeValues: null, htmlAttributes: new { id = "udPersonNavLink" })</li>
<li>@Html.ActionLink("Interaction", "Interaction", "MaxCrm", routeValues: null, htmlAttributes: new { id = "udInteractionNavLink" })</li>
