@section StyleSection
{
    <style type="text/css">
    </style>
}
@section ScriptSection
{
    <script type="text/javascript">

    </script>
}
<div id="udContent">Here</div>
<a href="/MaxCrm/Interaction">Interaction</a>
